@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Ubuntu:wght@300;400;500&display=swap');

:root{
    --background-color: white;
    --box-color: white;
    --main-color: red;
    --secondary-color: rgb(224, 127, 89);
    --third-color: #ddd;
    --font-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', 'Oswald', sans-serif;
}

body {
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--background-color);
}

header {
    position: relative;
    height: 10px;
}

header div {
    margin: 15px;
    display: inline-block;
}

.addItem {
    float: right;
}

.icon {
    font-size: 20px;
    color: var(--secondary-color);
    cursor: pointer;
}

.target-container {
    position: relative;
    right: 0;
    display: inline-block;
    text-align: center;
    height: 300px;
    max-width: 100%;
    width: 100vw;
    margin: 30px 0;
}

.circle {
    position: absolute;
    border-radius: 50%;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1;
}

.circle:nth-child(even) {
    background-color: var(--main-color);
}

.circle:nth-child(odd) {
    background-color: var(--third-color);
}

.showTodoItem {
    text-align: center;
    font-size: 1.6em;
    color: var(--font-color);
    width: 500px;
    margin: 15px auto;
}

.underline {
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: var(--font-color);
}

.hide {
    visibility: hidden;
}

.color-theme i {
    position: absolute;
    padding: 0;
    z-index: 2;
    transition: all .5s;
}

.color-pallete {
    height: 32px;
    width: auto;
    margin: -6px 0 0 -9px;
    background-color: var(--box-color);
    border-radius: 40px;
    transition: all .5s;
}

#mainColorTheme {
    background-color: red;
}

#tanColorTheme {
    background-color: #AA8C77;
}

#neonGreenTheme {
    background-color: rgb(0, 145, 0);
}

#mixedColorTheme {
    background-color: #bb2321;
}

.color-list {
    margin-top: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-list:first-child {
    margin-left: 45px;
}

.color-list:last-child {
    margin-right: 9px;
}

.color-list li {
    border-radius: 50%;
    height: 26px;
    width: 28px;
    margin: 0 7px;
    list-style-type: none;
    background-color: var(--background-color);
    cursor: pointer;
}

.showTodoItem *:not(.underline) {
    display: inline;
}

.showTodoItem .icon {
    float: right;
    margin-bottom: -3px;
}

.showTodoItem {
    position: relative;
}

/*task template*/
.task-template-container {
    display: none;
    position: absolute;
    float: right;
    max-width: 250px;
    right: 40px;
    top: 70px;
    padding: 20px 20px;
    box-shadow: 2px 2px 5px var(--third-color);
    background-color: var(--secondary-color);
    border-radius: 20px;
    text-align: center;
    z-index: 100000;
    animation: flipDown .4s ease;
    transform-origin: 50% 1%;
}

span.input {
    display: block;
    outline: none;
    min-width: 190px;
    max-width: 190px;
    text-align: left;
    height: 1rem;
    border-bottom: 2px solid black;
    transition: all .3s;
}

.task-prompt {
    float: right;
    color: var(--font-color)
}

.user-input {
    margin: 10px 0;
}

.task-template-underline {
    width: 200px;
    height: 2px;
    background-color: var(--secondary-color);
    transition: all .3s;
}

.save-btn {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--box-color);
    background-color: var(--main-color);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

input.subgoal.input {
    display: inline;
}

.addSubgoal {
    display: inline;
    height: 15px;
    width: 15px;
}

li {
    list-style-type: circle;
}

.emptyTaskText {
    opacity: .7;
} 

.todoItem{
    transition: all .3s ease;
    color: var(--secondary-color)
}

/*todo info */
.todoInfo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 300px;
    margin: 0 auto;
}

.todoInfo {
    padding: 15px;
    max-width: 300px;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    box-shadow: 2px 2px 7px var(--third-color);
    border-radius: 20px;
}

.edit-complete {
    align-self: flex-end;
}

.edit, .check {
    height: 15px;
    width: 15px;
    margin: 0 4px;
}

.submitEdit-btn {
    margin-top: 10px;
    display: none;
}

.editContent {
    display: block;
    outline: none;
    transition: all .3s;
}

.item {
    margin: 10px;
}

.showGoal {
    padding: 0;
}

.showComment {
    margin-bottom: 20px;
}

.icon.list {
    transform: scale(0);
    color: var(--third-color);
}

.box {
    background-color: var(--box-color);
}
/*completed items*/
.completedItemsContainer {
    position: absolute;
    max-width: 250px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 6px var(--third-color);
    left: 110%;
    text-align: left;
    color: var(--font-color);
}

.completedListMain li {
    display: list-item;
    margin-left: 1rem;
    font-size: 20px;
    cursor: pointer;
}

.completedListMain {
    display: list-item;
}

.completedGoal {
    display: list-item;
    list-style-type: circle;
}

.completedListNested li {
    margin-left: 2.7rem;
    padding-top: none;
    list-style-type: disc;
}

.completedListNested {
    max-height: 8rem;
}

/*animation classes*/
.growingAnimation {
    animation: grow .4s ease-in-out forwards;
    transform-origin: 1% 50%;
    opacity: 0;
}

.shrinkingAnimation {
    animation: shrink .4s ease-in forwards;
    transform-origin: 1% 50%;
}

.rotate-plus-forward {
    animation: plusRotateForward .4s ease-in-out forwards;
}

.rotate-plus-back {
    animation: plusRotateBack .3s ease-in-out forwards;
}

.template-exit-anim {
    animation: flipUp .3s ease forwards;
    transform-origin: 50% 100%;
}

.disappear-anim {
    animation: shrinkDown .2s forwards;
}

.scaleUp {
    animation: scaleUp .15s forwards;
}

.fadeDown {
    animation: fadeDown .2s forwards;
}

.fadeUp {
    animation: fadeUp .2s forwards;
}

.listAppear {
    animation: scaleUp .2s forwards .3s;
}

/*keyframes*/
@keyframes grow {
    0%{opacity: 0; width: 30px;}
    25% {opacity: 1; width: 30px}
    100% {width: 100%; opacity: 1;}
}

@keyframes shrink {
    0%{width: 100%;}
    75% {width: 50px; opacity: .5}
    100% {width: 45px; opacity: 0;}
}

@keyframes shrinkDown {
    100% {transform: rotateY(90deg);}
}

@keyframes plusRotateForward {
    100% {transform: rotateZ(135deg);}
}

@keyframes plusRotateBack {
    0% {transform: rotateZ(135deg);}
    100% {transform: rotateZ(270deg);}
}

@keyframes flipDown {
    0% {display: block; transform: rotateX(90deg);}
    100% {display: block; transform: rotateX(0deg);}
}

@keyframes flipUp {
    0% {display: block; transform: rotateX(0deg);}
    100% {display: none; transform: rotateX(90deg);}
}

@keyframes scaleUp {
    0% {transform: scale(0); opacity: 1;}
    75% {transform: scale(1.2);}
    100% {transform: scale(1); opacity: 1;}
}

@keyframes fadeDown {
    0% {transform: translateY(0); opacity: 1;}
    100% {transform: translateY(20px); opacity: 0;}
}

@keyframes fadeUp {
    0% {transform: translateY(0); opacity: 0;}
    100% {transform: translateY(-10px); opacity: 1;}
}

@keyframes disperseOutwards {
    0% {
        transform: scale(1); 
        filter: blur(0); 
        opacity: 1
    }
    100% {
        transform: scale(1.2); 
        filter: blur(10px); 
        opacity: 0
    }
}

/*customize scrollbar*/